* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1f2f;
  overflow: hidden;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: -1;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

.loader::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background: #06c8f0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  bottom: 0;
}

.container {
  position: relative;
  transform: translateY(-100px);
}

.container::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  top: 200px;
  animation: animateCircle 4s ease-in-out infinite;
}

@keyframes animateCircle {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(15px);
  }
}

.container::after {
  position: absolute;
  content: "";
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: #fe4e4e;
  left: 50%;
  transform: translateX(-50%);
  top: 400px;
}

.loader .ball {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
  transform: translateX(-40px);
  animation: animateBall 4s ease-in-out infinite;
}

@keyframes animateBall {
  0% {
    transform: translateY(-100%) translateX(-40px);
  }
  50% {
    transform: translateY(-100%) translateX(200px);
  }
  100% {
    transform: translateY(-100%) translateX(-40px);
  }
}
.loaderHome span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00efff;
    box-shadow: 0 0 10px #00efff, 0 0 20px #00efff, 0 0 40px #00efff,
        0 0 60px #00efff, 0 0 80px #00efff, 0 0 100px#00efff;
    animation: animate2 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate2 {
    0% {
        transform: scale(1);
    }

    80%,
    100% {
        transform: scale(0);
    }
}
